<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="contentPath" value="C:\Code\clip\src2\content\"/>
    <add key="uploadPath" value="C:\Code\clip\src2\upload\"/>
    <add key="ghostscriptExe" value="gswin32c"/>
    <add key="ghostscriptProcessTimeout" value="30000"/>
    <add key="ghostscriptTextBits" value="4"/>
    <add key="ghostscriptGraphicsBits" value="4"/>
    <add key="ghostscriptDevice" value="png16m"/>
    <add key="ghostscriptDpi" value="120"/>
  </appSettings>
</configuration>